
.footer{
  position: fixed;
  bottom: 0;
  background-color: green;
  text-align: center;
  color: white;
  padding: 10px;
  width: 100%;
}



iframe {
  background-color: white;
  border: 2px solid #4caf50;
    float: left;
    width: 70%;
    height: 500px; /* only for demonstration, should be removed */
    padding: 20px;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.image{
float: right;
 width: 20%;
 height: 
}
